.order-manage{
    padding: 0 2rem;
    margin-bottom: 19%;
}
.order-header{
    display: flex;
    justify-content: space-between;
}

.order-header h5{
    width: 10%;
}

@media screen and (max-width:688px){
    .order-header{
        display: none;
}
}
