.single-order{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-order p{
    width: 10%;
}

.single-order span{
    display: none;
}

@media screen and (max-width:688px){
    .single-order{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between;
    align-items: center; */
}
.single-order p{
    width: 100%;
}
.single-order span{
    display: inline-block;
    font-weight: bold;
}
}