.reason-parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.reason{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* responsive  codes*/

@media screen and (max-width:688px){

     .reason-parent{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
}
}