.add-service-parent{
    background-color: lightcoral;
    width: 50%;
    margin: 0 auto;
    padding: 3rem;
    border-radius: 5px;
}
.add-service-form input{
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
}

.add-service-form textarea{
    width: 100%;
    border: none;
    border-radius: 5px;
}


@media screen and (max-width:688px){
    .add-service-parent{
        width: 100%;
    }
}