.booking-parent-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.customer-detail-form{
    background-color: lightcoral;
    width: 40%;
    padding : 2rem;
    border-radius: 5px;
}

.booking-form input{
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
}

@media screen and (max-width:688px){
.booking-parent-container{
    display : flex;
    flex-direction: column-reverse;

}
.customer-detail-form{
    margin-top: 15%;
    width: 120%;
}
}